<div class="container">
<div class="text-center align-middle">
  <form class="form-signin" novalidate name="loginForm" ng-submit="submitForm(loginForm.$valid)">
    <img class="mb-4" src="https://tbncdn.freelogodesign.org/349db1c8-5ff3-407c-8ccd-0323124d986e.png?1534390551842" alt="Logo">

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="username" class="sr-only">Email address</label>
    <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus ng-model="username">
    <p class="text-danger" ng-show="loginForm.username.$error.required  && !loginForm.username.$pristine">Username is required</p>
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" class="form-control" placeholder="Password" required ng-model="password">
    <p class="text-danger" ng-show="loginForm.password.$error.required && !loginForm.password.$pristine">Password is required</p>
    <button class="btn btn-lg btn-primary btn-block" ng-class="{'progress-bar-striped progress-bar-animated': progress}" type="submit" >Sign in</button>
    <span class="text-danger" ng-bind="message"></span>
    <p class="mt-5 mb-3 text-muted">Fairfield Rental Car Service</p>
  </form>
</div>
</div>
